grid table {
//     table-layout: fixed;
}

grid .sortable {
    cursor: pointer;
}

grid .sortable:not(.sorted-desc, .sorted-asc):after {
    content: '\f107';
    color: rgba(0, 0, 0, 0);
}

grid .sortable:after {
    color: inherit;
    font: normal normal normal 1em/1 FontAwesome;
}

grid .sorted-desc, grid .sorted-asc {
    background-color: #f9f9f9;
}

grid .sorted-desc:after {
    content: '\f107';
}

grid .sorted-asc:after {
    content: '\f106';
}

grid th, grid td {
    white-space: nowrap;
/*
    overflow: hidden;
    text-overflow: ellipsis;
*/
}

grid .pagination {
    margin: 5px 0;
}